<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://neo4j-documentation.github.io/developer-resources/language-guides/assets/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
      .badge-notify{
        background:red;
        position:relative;
        top: -20px;
        right: 10px;
      }
      .my-cart-icon-affix {
        position: fixed;
        z-index: 999;
      }
      .node { stroke: #222; stroke-width: 1.5px; }
      .node.actor { fill: #888; }
      .node.movie { fill: #BBB; }
      .link { stroke: #999; stroke-opacity: .6; stroke-width: 1px; }
    </style>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
    <script type='text/javascript' src="https://raw.githubusercontent.com/BISV-Graph-AI/bookclub/main/static/jquery_mycart.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <title>Book Exchange Club</title>
</head>

<body>
<div role="navigation" class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="row">
            <div class="navbar-header col-sm-3 col-md-3">
                <div class="navbar-brand">
                    <div class="brand">Book Exchange Club</div>
                </div>
            </div>

  <div class="page-header">
    <h1>Products
      <div style="float: right; cursor: pointer;">
        <span class="glyphicon glyphicon-shopping-cart my-cart-icon"><span class="badge badge-notify my-cart-badge"></span></span>
      </div>
    </h1>
  </div>
            <div class="col-sm-3 col-md-3">
                <ul class="nav navbar-nav">
                    <li>
                        <form role="search" class="navbar-form" id="search">
                            <div class="form-group">
                                <input type="text" value="" placeholder="Search for Books" class="form-control" name="search">
                            </div>
                            <button class="btn btn-default" type="submit">Search</button>
                        </form>
                    </li>
                </ul>
            </div>

            <div class="col-sm-4 col-md-4">
                <ul class="nav navbar-nav">
                    <li>
                        <form role="booklist" class="navbar-form" id="booklist">
                            <div class="form-group">

<label for="grades">Choose a Grade or Department:</label>
<select name="GradeDepartment" id="GradeDepartment">
  <option value="1">5th</option>
  <option value="2">6th</option>
  <option value="3">7th</option>
  <option value="4">8th</option>
  <option value="5">Upper School PostAP and Capstone</option>
  <option value="6">Upper School Electives</option>
  <option value="7">Upper School English</option>
  <option value="8">Upper School Foreign Language</option>
  <option value="9">Upper School History</option>
  <option value="10" selected>Math</option>
  <option value="11">Upper School Science</option>
</select>

<div id="course_list">
</div>

                            </div>
                            <button class="btn btn-default" type="submit">List</button>
                        </form>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Search Results</div>
            <table id="results" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>ISBN</th>
                    <th>Requirement</th>
                    <th>New Print Price</th>
                    <th>Cover</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://d3js.org/d3.v3.min.js" type="text/javascript"></script>
<script type="text/javascript">

    $(function () {
        function search(showFirst = true) {
            var query=$("#search").find("input[name=search]").val();
            $.get("/search?q=" + encodeURIComponent(query),
                function (data) {
                    showbooks(data);
                }, "json");
            return false;
        }

        function booklist(showFirst = true) {
            var grade=$("#booklist").find("select[name=GradeDepartment]").val();

            var checkboxValues = [];
            $('input[type="checkbox"]:checked').each(
              function(index, elem) {
                checkboxValues.push($(elem).val());
              });
            var courses = checkboxValues.join(',');

            $.get("/books?g=" + encodeURIComponent(grade) + "&c=" + encodeURIComponent(courses),
                    function (data) {
                        showbooks(data);
                    }, "json");
            return false;
        }

        $("#GradeDepartment").on("change", function(){
            var selected = $(this).val();
            listcourses(selected);
        })

        function listcourses(grade){
            $.get("/courses_by_gdid/" + encodeURIComponent(grade),
                    function (data) {
                        var t = $("div#course_list").empty();
                        if (!data || data.length == 0) return;
                        data.forEach(function (course, index) {
                            $('<input class="courseselection" type="checkbox" name="course[]" value="' + course.id + '" id="' + course.id + '" placeholder="" /><label for="' + course.id + '"> ' + course.name + "</label><br>").appendTo(t).click(function() { booklist(false); });
                        });
                    }, "json");

            booklist(false);
            return false;
        }

        function showbooks(data) {
            var t = $("table#results tbody").empty();
            if (!data || data.length == 0) return;
            data.forEach(function (book, index) {
                var booknum = index + 1;
                $("<tr><td>" + booknum 
                    + "</td><td class='book'>" + book.title
                    + "</td><td>" + book.author
                    + "</td><td>" + book.publisher
                    + "</td><td id='isbn'>" + book['isbn13']
                    + "</td><td>" + book.requirement
                    + "</td><td>" + book.price
                    + "</td><td><img src=\"" + book.image
                    + "\"></td></tr>").appendTo(t);
                 });
        }

        $("#search").submit(search);
        $("#booklist").submit(booklist);
        search();
        booklist();

    var goToCartIcon = function($addTocartBtn){
      var $cartIcon = $(".my-cart-icon");
      var $image = $('<img width="30px" height="30px" src="' + $addTocartBtn.data("image") + '"/>').css({"position": "fixed", "z-index": "999"});
      $addTocartBtn.prepend($image);
      var position = $cartIcon.position();
      $image.animate({
        top: position.top,
        left: position.left
      }, 500 , "linear", function() {
        $image.remove();
      });
    }

    $('.my-cart-btn').myCart({
      classCartIcon: 'my-cart-icon',
      classCartBadge: 'my-cart-badge',
      classProductQuantity: 'my-product-quantity',
      classProductRemove: 'my-product-remove',
      classCheckoutCart: 'my-cart-checkout',
      affixCartIcon: true,
      showCheckoutModal: true,
      clickOnAddToCart: function($addTocart){
        goToCartIcon($addTocart);
      },
      clickOnCartIcon: function($cartIcon, products, totalPrice, totalQuantity) {
        console.log("cart icon clicked", $cartIcon, products, totalPrice, totalQuantity);
      },
      checkoutCart: function(products, totalPrice, totalQuantity) {
        console.log("checking out", products, totalPrice, totalQuantity);
      },
      getDiscountPrice: function(products, totalPrice, totalQuantity) {
        console.log("calculating discount", products, totalPrice, totalQuantity);
        return totalPrice * 0.5;
      }
    });

    })
</script>


  <div class="row">
    <div class="col-md-3 text-center">
      <img src="images/img_1.png" width="150px" height="150px">
      <br>
      product 1 - <strong>$10</strong>
      <br>
      <button class="btn btn-danger my-cart-btn" data-id="1" data-name="product 1" data-summary="summary 1" data-price="10" data-quantity="1" data-image="images/img_1.png">Add to Cart</button>
      <a href="#" class="btn btn-info">Details</a>
    </div>

    <div class="col-md-3 text-center">
      <img src="images/img_2.png" width="150px" height="150px">
      <br>
      product 2 - <strong>$20</strong>
      <br>
      <button class="btn btn-danger my-cart-btn" data-id="2" data-name="product 2" data-summary="summary 2" data-price="20" data-quantity="1" data-image="images/img_2.png">Add to Cart</button>
      <a href="#" class="btn btn-info">Details</a>
    </div>
  </div>

</body>
</html>
